:root {
    --background-color: #F2F9FD;
    --light-blue-color: #5BB9E8;
    --frame: 20px silver;
    --font-basic: 'Calibri', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: red;
}

.button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--light-blue-color);
    color: black;
    font-weight: bold;
    margin: 5px;
    box-shadow: 3px 3px gray;
    font-family: var(--font-basic);
}
.button:hover {
    color: red;
}

@media screen and (min-width: 577px) {

.header-small {
    display: none;
}
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0px;
    background-color: var(--light-blue-color);
}

.header-item {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}
}

@media screen and (max-width: 576px) {
    .header-container {
        display: none;
    }
    .header-small {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: var(--light-blue-color);
        
    }
    .header-small-item {
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
    }
    .unfold-button {
        width: auto;
        height: 40px;
        text-align: center;
        background-color: var(--light-blue-color);
        border: none;
    }
    .unfold-button:hover {
        color: red;
    }
    .dropdown-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--light-blue-color);
    }
    .dropdown-item {
        width: 100%;
        background-color: var(--light-blue-color);
        font-family: 'Indie Flower', cursive;
        font-size: 30px;
        border-bottom: 1px solid black;
    }
    .arrow-icon {
        position: relative;
        bottom: 3px;
    }
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    font-family: var(--font-basic);
    width: 100%;
    flex-wrap: wrap;
}

.sign {
    flex: 5;
    text-align: right;
}

.footer-item {
    padding-left: 20px;
}

.price-list-image {
    position: absolute;
    top: 15%;
    width: 80vw;
    height: auto;
    margin-left: 10vw;
}

.price-list-overall {
    min-height: 90vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

@media screen and (min-width: 786px) {

.price-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--frame);
    border-style: groove;
    border-radius: 20px;
    box-shadow: 10px 10px darkslategray;
    width: 60%;
    max-width: 1000px;
    height: 500px;
    background-image: url('../images/spodnie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
}

@media screen and (max-width:785px) {
    .price-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: var(--frame);
        border-style: groove;
        border-radius: 20px;
        box-shadow: 10px 10px darkslategray;
        width: 60%;
        max-width: 1000px;
        height: 500px;
}
}

.price-list-item {
    border: 1px silver;
    background-color: white;
    box-shadow: 2px 2px silver;
    border-radius: 5px 5px;
    margin-top: 50px;
}
.price-list-item h5 {
    text-align: center;
    font-family: var(--font-basic);
    font-size: 22px;
    padding: 10px;
}

.price-item {
    font-size: 20px;
    color: black;
    font-family: var(--font-basic);
    padding: 10px;
    margin-left: 30px;
}
@media screen and (min-width: 1270px) {

.price-list-buttons {
    display: flex;
    justify-content: space-between;
}
.price-list-options {
    display: none;
}
}
@media screen and (max-width: 1269px) {
    .price-list-buttons {
        display: none;
    }
    .price-list-options {
        width: 70%;
        border: none;
        text-align: center;
    }
    .price-list-options:hover {
        color: black;
    }
}

.landing-overall {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
}
.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 577px) {
    .landing-item {
    border: var(--frame);
    font-family: var(--font-basic);
    border-style: groove;
    border-radius: 20px;
    box-shadow: 10px 10px darkslategray;
    margin: 30px;
    background-color: white;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 50px auto;
    max-width: 1000px;

}

.landing-item-header {
    padding: 10px;
}

.landing-item-image {
    width: auto;
    height: 120px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3; 
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px silver;
}

.landing-item-content {
    font-size: 20px;
    padding: 10px;
}
}

@media screen and (max-width: 576px) {
    .landing-item {
    border: var(--frame);
    font-family: var(--font-basic);
    border-style: groove;
    border-radius: 20px;
    box-shadow: 10px 10px darkslategray;
    margin: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.landing-item-header {
    padding: 10px;
}

.landing-item-image {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px silver;
    align-self: center;
}

.landing-item-content {
    font-size: 20px;
    padding: 10px;
}
}
.contact-overall {
    min-height: 90vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    font-family: var(--font-basic);
    font-size: 20px;
}

.contact-container {
    display: flex;
        flex-direction: column;
        border: var(--frame);
        border-style: groove;
        border-radius: 20px;
        box-shadow: 10px 10px darkslategray;
        width: 60%;
        max-width: 1000px;
        height: 500px;
        background-color: white;
}
.contact-item {
    margin-left: 20px;
    margin-top: 10px;
}

